Repository Kalaganov-Konstantin/eventflow-commerce: changes, and which Codecov flags are due for each by the changed paths.
All: api-gateway, inventory, order, payment, shared-libs, notification

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%

# Configure for monorepo with multiple languages
flags:
  # Go services
  api-gateway:
    paths:
      - services/api-gateway/
    carryforward: false

  inventory:
    paths:
      - services/inventory/
    carryforward: false

  order:
    paths:
      - services/order/
    carryforward: false

  payment:
    paths:
      - services/payment/
    carryforward: false

  shared-libs:
    paths:
      - shared/libs/
    carryforward: false

  # Python services
  notification:
    paths:
      - services/notification/
    carryforward: false

# Ignore files that shouldn't be counted in coverage
ignore:
  - "**/*_test.go"
  - "**/test_*.py"
  - "**/tests/**"
  - "**/__pycache__/**"
  - "**/vendor/**"
  - "**/node_modules/**"
  - "**/*.pb.go"
  - "**/*.proto"
  - "**/docs/**"
  - "**/*.md"
  - "**/Dockerfile*"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/docker-compose*"
  - "**/Makefile"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

feat: trace http requests in the api gateway
  services/api-gateway/cmd/server/main.go
  services/api-gateway/go.mod
  services/api-gateway/go.sum
  services/api-gateway/internal/config/config.go
  services/api-gateway/internal/config/config_test.go
  services/api-gateway/internal/handler/router.go
  services/api-gateway/internal/server/server.go
Due: api-gateway

feat: trace requests and events in the order service
  services/order/cmd/server/main.go
  services/order/go.mod
  services/order/go.sum
  services/order/internal/client/inventory.go
  services/order/internal/config/config.go
  services/order/internal/config/config_test.go
  services/order/internal/consumer/cache.go
  services/order/internal/consumer/payments.go
  services/order/internal/consumer/payments_test.go
  services/order/internal/server/server.go
Due: order

feat: trace requests and events in the payment and inventory services
  services/inventory/cmd/server/main.go
  services/inventory/go.mod
  services/inventory/go.sum
  services/inventory/internal/config/config.go
  services/inventory/internal/config/config_test.go
  services/inventory/internal/consumer/cache.go
  services/inventory/internal/consumer/orders.go
  services/inventory/internal/consumer/orders_test.go
  services/inventory/internal/server/server.go
  services/payment/cmd/server/main.go
  services/payment/go.mod
  services/payment/go.sum
  services/payment/internal/config/config.go
  services/payment/internal/config/config_test.go
  services/payment/internal/consumer/orders.go
  services/payment/internal/consumer/orders_test.go
  services/payment/internal/eventstore/store.go
  services/payment/internal/server/server.go
Due: inventory, payment

feat: trace requests and events in the notification service
  go.work.sum
  services/notification/notification/config/config.py
  services/notification/notification/consumer.py
  services/notification/notification/main.py
  services/notification/notification/tracing.py
  services/notification/pyproject.toml
  services/notification/tests/test_consumer.py
  services/notification/tests/test_tracing.py
  services/notification/uv.lock
Due: notification

deps: bump grpc for the vulnerability scan
  services/api-gateway/go.mod
  services/api-gateway/go.sum
  services/inventory/go.mod
  services/inventory/go.sum
  services/order/go.mod
  services/order/go.sum
  services/payment/go.mod
  services/payment/go.sum
  shared/libs/go/go.mod
  shared/libs/go/go.sum
Due: api-gateway, inventory, order, payment, shared-libs

fix: scrape postgres and redis through exporters
  .env.example
  docker-compose.yml
  infrastructure/prometheus/prometheus.yml
Due: none

feat: expose database and outbox metrics in every go service
  services/inventory/cmd/server/main.go
  services/order/cmd/server/main.go
  services/payment/cmd/server/main.go
  shared/libs/go/metrics/database.go
  shared/libs/go/metrics/database_test.go
Due: inventory, order, payment, shared-libs

build: add alert rules to prometheus
  infrastructure/prometheus/prometheus.yml
  infrastructure/prometheus/rules/alerts.yml
Due: none

build: add alertmanager to the compose stack
  .env.example
  docker-compose.yml
  infrastructure/alertmanager/alertmanager.yml
  infrastructure/prometheus/prometheus.yml
Due: none

feat: add a grafana dashboard for service health
  infrastructure/grafana/dashboards/service-health.json
Due: none

feat: add a grafana dashboard for the order saga
  infrastructure/grafana/dashboards/order-saga.json
Due: none

feat: wire saga kafka and cache metrics into the services
  services/inventory/cmd/server/main.go
  services/inventory/internal/server/server.go
  services/order/cmd/server/main.go
  services/order/internal/server/server.go
  services/order/internal/service/order.go
  services/order/internal/service/order_test.go
  services/payment/cmd/server/main.go
  shared/libs/go/cache/cache.go
  shared/libs/go/cache/cache_test.go
  shared/libs/go/events/kafka.go
  shared/libs/go/events/kafka_test.go
  shared/libs/go/outbox/relay.go
  shared/libs/go/outbox/relay_test.go
Due: inventory, order, payment, shared-libs

feat: log in json format in every service
  .env.example
  services/notification/notification/logging.py
  services/notification/notification/main.py
  services/notification/tests/test_logging.py
Due: notification

feat: add trace and correlation ids to service logs
  services/notification/notification/logging.py
  services/notification/tests/test_logging.py
  shared/libs/go/middleware/middleware.go
  shared/libs/go/middleware/middleware_test.go
Due: shared-libs, notification

build: add elasticsearch and kibana to the compose stack
  .env.example
  docker-compose.yml
Due: none

build: add fluentd to collect container logs
  docker-compose.yml
  infrastructure/fluentd/Dockerfile
  infrastructure/fluentd/fluent.conf
Due: none

build: add a make target for the logging stack
  Makefile
Due: none

feat: add separate liveness and readiness probes to every service
  services/inventory/internal/server/server.go
  services/inventory/internal/server/server_test.go
  services/order/internal/server/server.go
  services/order/internal/server/server_test.go
  services/payment/internal/server/server.go
  services/payment/internal/server/server_test.go
  shared/libs/go/events/kafka.go
  shared/libs/go/events/kafka_test.go
Due: inventory, order, payment, shared-libs

build: add kubernetes namespace and configuration manifests
  infrastructure/k8s/base/configmap.yaml
  infrastructure/k8s/base/kustomization.yaml
  infrastructure/k8s/base/namespace.yaml
  infrastructure/k8s/base/secrets.example.yaml
Due: none

build: add kubernetes manifests for postgres, redis and kafka
  infrastructure/k8s/base/kafka.yaml
  infrastructure/k8s/base/kustomization.yaml
  infrastructure/k8s/base/postgres.yaml
  infrastructure/k8s/base/redis.yaml
Due: none

build: add kubernetes deployments for the go services
  infrastructure/k8s/base/api-gateway.yaml
  infrastructure/k8s/base/inventory.yaml
  infrastructure/k8s/base/kustomization.yaml
  infrastructure/k8s/base/order.yaml
  infrastructure/k8s/base/payment.yaml
Due: none

build: add kubernetes deployment for the notification service
  infrastructure/k8s/base/kustomization.yaml
  infrastructure/k8s/base/notification.yaml
Due: none

build: add kubernetes jobs for database migrations
  infrastructure/k8s/base/kustomization.yaml
  infrastructure/k8s/base/migrations.yaml
Due: none

build: add autoscaling and disruption budgets
  infrastructure/k8s/base/hpa.yaml
  infrastructure/k8s/base/kustomization.yaml
  infrastructure/k8s/base/pdb.yaml
Due: none

build: add kustomize overlays for dev and prod
  infrastructure/k8s/overlays/dev/config-dev.yaml
  infrastructure/k8s/overlays/dev/kustomization.yaml
  infrastructure/k8s/overlays/dev/replicas-one.yaml
  infrastructure/k8s/overlays/dev/resources-dev.yaml
  infrastructure/k8s/overlays/prod/config-prod.yaml
  infrastructure/k8s/overlays/prod/gateway-prod.yaml
  infrastructure/k8s/overlays/prod/inventory-prod.yaml
  infrastructure/k8s/overlays/prod/kustomization.yaml
  infrastructure/k8s/overlays/prod/notification-prod.yaml
  infrastructure/k8s/overlays/prod/order-prod.yaml
  infrastructure/k8s/overlays/prod/payment-prod.yaml
Due: none

build: allow multiple documents in yaml checks
  .pre-commit-config.yaml
Due: none

build: add istio gateway and virtual services
  infrastructure/istio/gateway.yaml
  infrastructure/istio/virtual-services.yaml
Due: none

build: add destination rules with stable and canary subsets
  infrastructure/istio/destination-rules.yaml
Due: none

build: require mutual tls between services
  infrastructure/istio/authorization-policies.yaml
  infrastructure/istio/peer-authentication.yaml
  infrastructure/k8s/base/api-gateway.yaml
  infrastructure/k8s/base/inventory.yaml
  infrastructure/k8s/base/notification.yaml
  infrastructure/k8s/base/order.yaml
  infrastructure/k8s/base/payment.yaml
Due: none

build: add canary release manifests for the api gateway
  infrastructure/istio/virtual-services.yaml
  infrastructure/k8s/base/api-gateway-canary.yaml
  infrastructure/k8s/base/kustomization.yaml
Due: none

build: add a script that shifts canary traffic
  Makefile
  scripts/canary.sh
Due: none

build: sample traces through istio telemetry
  infrastructure/istio/telemetry.yaml
Due: none

build: add a compose file for test dependencies
  Makefile
  docker-compose.test.yml
Due: none

test: add integration tests for the order service
  .golangci.yml
  services/order/test/order_integration_test.go
  services/order/test/support.go
Due: order

test: add integration tests for the payment and inventory services
  services/inventory/test/inventory_integration_test.go
  services/inventory/test/support.go
  services/payment/test/payment_integration_test.go
  services/payment/test/support.go
Due: inventory, payment

test: add integration tests for the notification service
  services/notification/pyproject.toml
  services/notification/tests/integration/__init__.py
  services/notification/tests/integration/conftest.py
  services/notification/tests/integration/test_consumer.py
Due: notification

build: add the integration test target
  Makefile
  services/order/test/order_integration_test.go
  services/order/test/support.go
Due: order

test: add an end to end test for the order flow
  .dockerignore
  go.work
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/order_flow_test.go
  tests/e2e/support.go
Due: none

build: add end to end and performance test targets
  Makefile
  tests/performance/README.md
  tests/performance/order-flow.js
Due: none

ci: run integration tests in the pipeline
  .github/workflows/main.yml
  README.md
Due: none
