Repository Kalaganov-Konstantin/eventflow-commerce: changes, and which Codecov flags are due for each by the changed paths.
All: api-gateway, inventory, order, payment, shared-libs, notification

feat: add inventory reservations table
  services/inventory/migrations/000001_create_inventory_tables.up.sql
  services/inventory/migrations/000002_add_reservations.down.sql
  services/inventory/migrations/000002_add_reservations.up.sql
Due: inventory

feat: add inventory domain model
  services/inventory/internal/domain/product.go
  services/inventory/internal/domain/stock.go
  services/inventory/internal/domain/stock_test.go
Due: inventory

feat: add product repository backed by postgres
  services/inventory/go.mod
  services/inventory/go.sum
  services/inventory/internal/repository/product.go
  services/inventory/internal/repository/product_test.go
Due: inventory

feat: add stock repository with reservations
  services/inventory/internal/repository/stock.go
  services/inventory/internal/repository/stock_test.go
Due: inventory

feat: connect the inventory service to postgres
  services/inventory/cmd/server/main.go
  services/inventory/internal/config/config.go
  services/inventory/internal/config/config_test.go
  services/inventory/internal/server/server.go
Due: inventory

feat: add product endpoints
  services/inventory/internal/handler/products.go
  services/inventory/internal/handler/products_test.go
  services/inventory/internal/server/server.go
Due: inventory

feat: add reserve and release stock endpoints
  services/inventory/internal/handler/reservations.go
  services/inventory/internal/handler/reservations_test.go
  services/inventory/internal/server/server.go
Due: inventory

feat: add payment domain events
  services/payment/internal/domain/events.go
  services/payment/internal/domain/events_test.go
Due: payment

feat: add payment aggregate
  services/payment/internal/domain/payment.go
  services/payment/internal/domain/payment_test.go
Due: payment

feat: add event store backed by postgres
  services/payment/go.mod
  services/payment/go.sum
  services/payment/internal/eventstore/store.go
  services/payment/internal/eventstore/store_test.go
Due: payment

feat: add snapshot store for payment aggregates
  services/payment/internal/eventstore/snapshot.go
  services/payment/internal/eventstore/snapshot_test.go
Due: payment

feat: rebuild payment aggregate from events and snapshots
  services/payment/internal/eventstore/repository.go
  services/payment/internal/eventstore/repository_test.go
Due: payment

feat: connect the payment service to postgres
  services/payment/cmd/server/main.go
  services/payment/internal/config/config.go
  services/payment/internal/config/config_test.go
  services/payment/internal/server/server.go
Due: payment

feat: add payment read model projector
  services/payment/internal/projection/payment_status.go
  services/payment/internal/projection/payment_status_test.go
  services/payment/migrations/000001_create_event_store.up.sql
Due: payment

feat: add payment gateway client stub
  services/payment/internal/gateway/client.go
  services/payment/internal/gateway/client_test.go
Due: payment

feat: add payment command service
  services/payment/internal/eventstore/repository.go
  services/payment/internal/eventstore/repository_test.go
  services/payment/internal/eventstore/store.go
  services/payment/internal/eventstore/store_test.go
  services/payment/internal/service/payment.go
  services/payment/internal/service/payment_test.go
  services/payment/migrations/000001_create_event_store.down.sql
  services/payment/migrations/000001_create_event_store.up.sql
Due: payment

feat: add process payment endpoint
  services/payment/internal/handler/payments.go
  services/payment/internal/handler/payments_test.go
  services/payment/internal/server/server.go
Due: payment

feat: add refund payment endpoint
  services/payment/internal/handler/payments.go
  services/payment/internal/handler/payments_test.go
  services/payment/internal/server/server.go
Due: payment

feat: add payment query endpoints
  services/payment/internal/handler/payments.go
  services/payment/internal/handler/payments_test.go
  services/payment/internal/repository/payment_status.go
  services/payment/internal/repository/payment_status_test.go
  services/payment/internal/server/server.go
Due: payment

fix: commit kafka offsets only after a message is handled
  shared/libs/go/events/kafka.go
  shared/libs/go/events/kafka_test.go
Due: shared-libs

feat: retry event handling before using the dead letter queue
  shared/libs/go/events/kafka.go
  shared/libs/go/events/kafka_test.go
Due: shared-libs

feat: add topic and event names for the shared events
  shared/libs/go/events/topics.go
  shared/libs/go/events/topics_test.go
Due: shared-libs

feat: partition events by aggregate id
  shared/libs/go/events/kafka.go
  shared/libs/go/events/kafka_test.go
Due: shared-libs

feat: add transactional outbox store
  shared/libs/go/go.mod
  shared/libs/go/go.sum
  shared/libs/go/outbox/store.go
  shared/libs/go/outbox/store_test.go
Due: shared-libs

feat: add outbox relay that publishes pending messages
  shared/libs/go/outbox/relay.go
  shared/libs/go/outbox/relay_test.go
Due: shared-libs

feat: add processed events store for idempotent consumers
  shared/libs/go/events/processed.go
  shared/libs/go/events/processed_test.go
Due: shared-libs

feat: add kafka publisher and consumer metrics
  shared/libs/go/events/metrics.go
  shared/libs/go/events/metrics_test.go
Due: shared-libs

feat: add outbox and processed events tables to the order service
  services/order/migrations/000003_add_outbox.down.sql
  services/order/migrations/000003_add_outbox.up.sql
Due: order

feat: write order events to the outbox
  services/order/internal/repository/order.go
  services/order/internal/repository/order_test.go
  services/order/internal/service/order.go
  services/order/internal/service/order_test.go
Due: order

feat: run the outbox relay in the order service
  services/order/cmd/server/main.go
  services/order/internal/config/config.go
  services/order/internal/config/config_test.go
Due: order

feat: consume payment events in the order service
  services/order/cmd/server/main.go
  services/order/internal/consumer/payments.go
  services/order/internal/consumer/payments_test.go
Due: order

feat: confirm or cancel orders based on payment result
  services/order/internal/service/order.go
  services/order/internal/service/order_test.go
Due: order

feat: add outbox and processed events tables to the inventory service
  services/inventory/migrations/000003_add_outbox.down.sql
  services/inventory/migrations/000003_add_outbox.up.sql
Due: inventory

feat: write inventory events to the outbox
  services/inventory/internal/repository/stock.go
  services/inventory/internal/repository/stock_test.go
  services/inventory/internal/service/stock.go
  services/inventory/internal/service/stock_test.go
Due: inventory

feat: run the outbox relay in the inventory service
  services/inventory/cmd/server/main.go
  services/inventory/internal/config/config.go
  services/inventory/internal/config/config_test.go
Due: inventory

feat: consume order events in the inventory service
  services/inventory/cmd/server/main.go
  services/inventory/internal/consumer/orders.go
  services/inventory/internal/consumer/orders_test.go
Due: inventory

feat: release reservations when an order is cancelled
  services/inventory/internal/service/stock.go
  services/inventory/internal/service/stock_test.go
Due: inventory

feat: add outbox and processed events tables to the payment service
  services/payment/migrations/000002_add_outbox.down.sql
  services/payment/migrations/000002_add_outbox.up.sql
Due: payment

feat: write payment events to the outbox
  services/payment/internal/eventstore/repository.go
  services/payment/internal/eventstore/repository_test.go
Due: payment

feat: run the outbox relay in the payment service
  services/payment/cmd/server/main.go
  services/payment/internal/config/config.go
  services/payment/internal/config/config_test.go
Due: payment

Path conditions:
  api-gateway: any of: services/api-gateway/, but not: **/*_test.go, **/test_*.py, **/tests/**, **/__pycache__/**, **/vendor/**, **/node_modules/**, **/*.pb.go, **/*.proto, **/docs/**, **/*.md, **/Dockerfile*, **/*.yml, **/*.yaml, **/docker-compose*, **/Makefile
  inventory: any of: services/inventory/, but not: **/*_test.go, **/test_*.py, **/tests/**, **/__pycache__/**, **/vendor/**, **/node_modules/**, **/*.pb.go, **/*.proto, **/docs/**, **/*.md, **/Dockerfile*, **/*.yml, **/*.yaml, **/docker-compose*, **/Makefile
  order: any of: services/order/, but not: **/*_test.go, **/test_*.py, **/tests/**, **/__pycache__/**, **/vendor/**, **/node_modules/**, **/*.pb.go, **/*.proto, **/docs/**, **/*.md, **/Dockerfile*, **/*.yml, **/*.yaml, **/docker-compose*, **/Makefile
  payment: any of: services/payment/, but not: **/*_test.go, **/test_*.py, **/tests/**, **/__pycache__/**, **/vendor/**, **/node_modules/**, **/*.pb.go, **/*.proto, **/docs/**, **/*.md, **/Dockerfile*, **/*.yml, **/*.yaml, **/docker-compose*, **/Makefile
  shared-libs: any of: shared/libs/, but not: **/*_test.go, **/test_*.py, **/tests/**, **/__pycache__/**, **/vendor/**, **/node_modules/**, **/*.pb.go, **/*.proto, **/docs/**, **/*.md, **/Dockerfile*, **/*.yml, **/*.yaml, **/docker-compose*, **/Makefile
  notification: any of: services/notification/, but not: **/*_test.go, **/test_*.py, **/tests/**, **/__pycache__/**, **/vendor/**, **/node_modules/**, **/*.pb.go, **/*.proto, **/docs/**, **/*.md, **/Dockerfile*, **/*.yml, **/*.yaml, **/docker-compose*, **/Makefile
