Repository Kalaganov-Konstantin/eventflow-commerce: changes, and which Codecov flags are due for each by the changed paths.
All: api-gateway, inventory, order, payment, shared-libs, notification

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%

# Configure for monorepo with multiple languages
flags:
  # Go services
  api-gateway:
    paths:
      - services/api-gateway/
    carryforward: false

  inventory:
    paths:
      - services/inventory/
    carryforward: false

  order:
    paths:
      - services/order/
    carryforward: false

  payment:
    paths:
      - services/payment/
    carryforward: false

  shared-libs:
    paths:
      - shared/libs/
    carryforward: false

  # Python services
  notification:
    paths:
      - services/notification/
    carryforward: false

# Ignore files that shouldn't be counted in coverage
ignore:
  - "**/*_test.go"
  - "**/test_*.py"
  - "**/tests/**"
  - "**/__pycache__/**"
  - "**/vendor/**"
  - "**/node_modules/**"
  - "**/*.pb.go"
  - "**/*.proto"
  - "**/docs/**"
  - "**/*.md"
  - "**/Dockerfile*"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/docker-compose*"
  - "**/Makefile"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ci: integrate codecov coverage upload in test workflow
  .github/workflows/main.yml
Due: none

build: add coverage testing targets for Go and Python services
  Makefile
Due: none

deps: add pytest-cov dependency for notification service coverage
  services/notification/pyproject.toml
  services/notification/uv.lock
Due: notification

docs: update Go Report Card badges for monorepo services
  README.md
Due: none

fix: correct Go coverage file aggregation path
  Makefile
Due: none

refactor: organize shared Go libraries into dedicated directory
  README.md
  go.work
  go.work.sum
  services/api-gateway/cmd/server/main_test.go
  services/api-gateway/go.mod
  services/api-gateway/internal/config/config.go
  services/api-gateway/internal/config/config_test.go
  services/api-gateway/internal/handler/router_test.go
  services/api-gateway/internal/server/server_test.go
  services/api-gateway/test/enhanced_test.go
  services/api-gateway/test/integration_test.go
  services/inventory/go.mod
  services/inventory/go.sum
  services/inventory/internal/config/config.go
  services/inventory/internal/config/config_test.go
  services/order/go.mod
  services/order/internal/config/config.go
  services/order/internal/config/config_test.go
  services/payment/go.mod
  services/payment/internal/config/config.go
  services/payment/internal/config/config_test.go
  shared/libs/go/config/config.go
  shared/libs/go/config/types.go
  shared/libs/go/database/postgres.go
  shared/libs/go/database/redis.go
  shared/libs/go/errors/errors.go
  shared/libs/go/events/kafka.go
  shared/libs/go/go.mod
  shared/libs/go/go.sum
  shared/libs/go/logger/logger.go
  shared/libs/go/middleware/middleware.go
Due: api-gateway, inventory, order, payment, shared-libs

feat: replace Code of Conduct with Contributor Covenant 3.0
  CODE_OF_CONDUCT.md
Due: none

fix: check env cleanup errors in gateway config tests
  services/api-gateway/internal/config/config_test.go
Due: none

test: add tests for the shared config loader
  shared/libs/go/config/config_test.go
Due: none

fix: keep kafka brokers when loading kafka config
  shared/libs/go/events/kafka.go
  shared/libs/go/events/kafka_test.go
Due: shared-libs

test: add tests for the shared errors package
  shared/libs/go/errors/errors_test.go
Due: none

test: add tests for the shared middleware package
  shared/libs/go/middleware/middleware_test.go
Due: none

test: add tests for the shared logger package
  shared/libs/go/logger/logger_test.go
Due: none

chore: remove unused dependencies from shared libraries
  go.work.sum
  shared/libs/go/go.mod
  shared/libs/go/go.sum
Due: shared-libs

build: pin golangci-lint version in the setup target
  Makefile
  go.work.sum
Due: none

build: add golangci-lint configuration
  .golangci.yml
  services/api-gateway/cmd/server/main.go
  services/api-gateway/internal/handler/middleware.go
  services/api-gateway/internal/handler/middleware_test.go
  services/api-gateway/internal/handler/router.go
  services/api-gateway/internal/handler/router_test.go
  services/api-gateway/internal/server/server.go
  services/api-gateway/internal/server/server_test.go
  services/api-gateway/test/integration_test.go
  services/inventory/cmd/server/main.go
  services/inventory/internal/config/config_test.go
  services/order/cmd/server/main.go
  services/order/internal/config/config_test.go
  services/payment/cmd/server/main.go
  services/payment/internal/config/config_test.go
  shared/libs/go/database/postgres.go
  shared/libs/go/middleware/middleware_test.go
Due: api-gateway, inventory, order, payment, shared-libs

deps: bump go and vulnerable dependencies for govulncheck
  .github/actions/setup-go/action.yml
  .github/workflows/main.yml
  Dockerfile
  go.work
  services/api-gateway/go.mod
  services/api-gateway/go.sum
  services/inventory/go.mod
  services/inventory/go.sum
  services/order/go.mod
  services/order/go.sum
  services/payment/go.mod
  services/payment/go.sum
  shared/libs/go/go.mod
  shared/libs/go/go.sum
Due: api-gateway, inventory, order, payment, shared-libs

feat: allow binding several environment variables to one config key
  shared/libs/go/config/config.go
  shared/libs/go/config/config_test.go
Due: shared-libs

feat: add redis url and kafka group to shared config types
  shared/libs/go/config/types.go
  shared/libs/go/config/types_test.go
Due: shared-libs

refactor: bind order config to the variables docker compose sets
  services/order/internal/config/config.go
  services/order/internal/config/config_test.go
Due: order

refactor: bind payment config to the variables docker compose sets
  services/payment/internal/config/config.go
  services/payment/internal/config/config_test.go
Due: payment

refactor: bind inventory config to the variables docker compose sets
  services/inventory/internal/config/config.go
  services/inventory/internal/config/config_test.go
Due: inventory

refactor: bind api gateway config to the variables docker compose sets
  services/api-gateway/internal/config/config.go
  services/api-gateway/internal/config/config_test.go
  services/api-gateway/test/enhanced_test.go
Due: api-gateway

docs: document service environment variables in the example file
  .env.example
Due: none

feat: add shared http server with graceful shutdown
  shared/libs/go/httpserver/server.go
  shared/libs/go/httpserver/server_test.go
Due: shared-libs

feat: add shared health and readiness handlers
  shared/libs/go/httpserver/health.go
  shared/libs/go/httpserver/health_test.go
Due: shared-libs

feat: add shared http request metrics middleware
  go.work.sum
  shared/libs/go/go.mod
  shared/libs/go/go.sum
  shared/libs/go/metrics/http.go
  shared/libs/go/metrics/http_test.go
Due: shared-libs

refactor: start the order service on the shared http server
  services/order/cmd/server/main.go
  services/order/go.mod
  services/order/go.sum
  services/order/internal/config/config.go
  services/order/internal/config/config_test.go
  services/order/internal/server/server.go
  services/order/internal/server/server_test.go
Due: order

refactor: start the payment service on the shared http server
  services/payment/cmd/server/main.go
  services/payment/go.mod
  services/payment/go.sum
  services/payment/internal/config/config.go
  services/payment/internal/config/config_test.go
  services/payment/internal/server/server.go
  services/payment/internal/server/server_test.go
Due: payment

refactor: start the inventory service on the shared http server
  services/inventory/cmd/server/main.go
  services/inventory/go.mod
  services/inventory/go.sum
  services/inventory/internal/config/config.go
  services/inventory/internal/config/config_test.go
  services/inventory/internal/server/server.go
  services/inventory/internal/server/server_test.go
Due: inventory

refactor: keep the api path prefix when proxying requests
  services/api-gateway/internal/handler/router.go
  services/api-gateway/internal/handler/router_test.go
  services/api-gateway/test/integration_test.go
Due: api-gateway

fix: build the api gateway logger from configuration
  services/api-gateway/cmd/server/main.go
  services/api-gateway/go.mod
  services/api-gateway/go.sum
Due: api-gateway

feat: add order status for orders awaiting payment
  services/order/migrations/000002_add_pending_payment_status.down.sql
  services/order/migrations/000002_add_pending_payment_status.up.sql
Due: order

feat: add order domain model
  services/order/go.mod
  services/order/internal/domain/order.go
  services/order/internal/domain/order_test.go
Due: order

feat: add order repository backed by postgres
  services/order/go.mod
  services/order/go.sum
  services/order/internal/repository/order.go
  services/order/internal/repository/order_test.go
Due: order

feat: connect the order service to postgres
  services/order/cmd/server/main.go
  services/order/internal/config/config.go
  services/order/internal/config/config_test.go
  services/order/internal/server/server.go
Due: order

feat: add create order endpoint
  services/order/internal/handler/orders.go
  services/order/internal/handler/orders_test.go
  services/order/internal/server/server.go
Due: order

feat: add get order endpoint
  services/order/internal/handler/orders.go
  services/order/internal/handler/orders_test.go
  services/order/internal/server/server.go
Due: order

feat: add list orders endpoint
  services/order/internal/handler/orders.go
  services/order/internal/handler/orders_test.go
  services/order/internal/server/server.go
Due: order

refactor: store money as integer cents
  services/order/internal/domain/order.go
  services/order/internal/domain/order_test.go
  services/order/internal/handler/orders.go
  services/order/internal/handler/orders_test.go
  services/order/internal/repository/order.go
  services/order/internal/repository/order_test.go
  services/order/migrations/000001_create_orders_tables.up.sql
Due: order
