Repository Kalaganov-Konstantin/eventflow-commerce: changes, and which Codecov flags are due for each by the changed paths.
All: api-gateway, inventory, order, payment, shared-libs, notification

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%

# Configure for monorepo with multiple languages
flags:
  # Go services
  api-gateway:
    paths:
      - services/api-gateway/
    carryforward: false

  inventory:
    paths:
      - services/inventory/
    carryforward: false

  order:
    paths:
      - services/order/
    carryforward: false

  payment:
    paths:
      - services/payment/
    carryforward: false

  shared-libs:
    paths:
      - shared/libs/
    carryforward: false

  # Python services
  notification:
    paths:
      - services/notification/
    carryforward: false

# Ignore files that shouldn't be counted in coverage
ignore:
  - "**/*_test.go"
  - "**/test_*.py"
  - "**/tests/**"
  - "**/__pycache__/**"
  - "**/vendor/**"
  - "**/node_modules/**"
  - "**/*.pb.go"
  - "**/*.proto"
  - "**/docs/**"
  - "**/*.md"
  - "**/Dockerfile*"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/docker-compose*"
  - "**/Makefile"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

feat: consume order events in the payment service
  services/payment/cmd/server/main.go
  services/payment/internal/consumer/orders.go
  services/payment/internal/consumer/orders_test.go
Due: payment

feat: process payments for orders waiting for payment
  services/payment/internal/service/payment.go
  services/payment/internal/service/payment_test.go
Due: payment

feat: add saga state table to the order service
  services/order/migrations/000004_add_order_sagas.down.sql
  services/order/migrations/000004_add_order_sagas.up.sql
Due: order

feat: add inventory client to the order service
  services/order/internal/client/inventory.go
  services/order/internal/client/inventory_test.go
Due: order

feat: reserve stock before an order is accepted
  services/order/cmd/server/main.go
  services/order/internal/config/config.go
  services/order/internal/config/config_test.go
  services/order/internal/handler/orders.go
  services/order/internal/handler/orders_test.go
  services/order/internal/server/server.go
  services/order/internal/service/order.go
  services/order/internal/service/order_test.go
Due: order

feat: track saga state for every order
  services/order/internal/repository/saga.go
  services/order/internal/repository/saga_test.go
  services/order/internal/saga/state.go
  services/order/internal/saga/state_test.go
Due: order

feat: release stock when payment fails
  services/order/cmd/server/main.go
  services/order/internal/server/server.go
  services/order/internal/service/order.go
  services/order/internal/service/order_test.go
Due: order

feat: refund payment when an order cannot be completed
  services/order/cmd/server/main.go
  services/order/internal/client/payment.go
  services/order/internal/client/payment_test.go
  services/order/internal/config/config.go
  services/order/internal/config/config_test.go
  services/order/internal/server/server.go
  services/order/internal/service/order.go
  services/order/internal/service/order_test.go
Due: order

feat: expose saga metrics
  services/order/internal/saga/metrics.go
  services/order/internal/saga/metrics_test.go
Due: order

build: pass inventory and payment urls to the order service
  docker-compose.yml
Due: none

feat: build one reverse proxy per backend service
  services/api-gateway/cmd/server/main.go
  services/api-gateway/internal/handler/router.go
  services/api-gateway/internal/handler/router_test.go
  services/api-gateway/internal/server/server.go
  services/api-gateway/internal/server/server_test.go
  services/api-gateway/test/enhanced_test.go
  services/api-gateway/test/integration_test.go
Due: api-gateway

feat: record proxy metrics in the api gateway
  services/api-gateway/internal/handler/router.go
  services/api-gateway/internal/handler/router_test.go
  services/api-gateway/internal/server/server.go
  services/api-gateway/test/enhanced_test.go
Due: api-gateway

feat: add request id middleware to the api gateway
  services/api-gateway/internal/server/server.go
  services/api-gateway/internal/server/server_test.go
Due: api-gateway

feat: forward correlation id to backend services
  services/api-gateway/internal/handler/router.go
  services/api-gateway/internal/handler/router_test.go
Due: api-gateway

feat: add readiness endpoint that checks backend services
  services/api-gateway/internal/handler/middleware.go
  services/api-gateway/internal/handler/middleware_test.go
  services/api-gateway/internal/handler/router.go
  services/api-gateway/internal/handler/router_test.go
Due: api-gateway

feat: return json errors for unknown api routes
  services/api-gateway/internal/handler/router.go
  services/api-gateway/internal/handler/router_test.go
Due: api-gateway

build: add ruff and black configuration for the notification service
  services/notification/notification/main.py
  services/notification/pyproject.toml
  services/notification/tests/test_main.py
Due: notification

build: add kafka and postgres clients to the notification service
  services/notification/pyproject.toml
  services/notification/uv.lock
Due: notification

fix: use the settings config dict in the notification config
  services/notification/notification/config/config.py
  services/notification/tests/test_config.py
Due: notification

feat: add notification storage layer
  services/notification/migrations/000002_add_processed_events.rollback.sql
  services/notification/migrations/000002_add_processed_events.sql
  services/notification/notification/storage/__init__.py
  services/notification/notification/storage/notifications.py
  services/notification/tests/test_storage.py
Due: notification

feat: render notifications from templates
  services/notification/migrations/000003_seed_templates.py
  services/notification/notification/templates/renderer.py
  services/notification/tests/test_renderer.py
Due: notification

feat: add email and sms senders
  services/notification/notification/senders/base.py
  services/notification/notification/senders/email.py
  services/notification/notification/senders/sms.py
  services/notification/tests/test_senders.py
Due: notification

feat: consume order and payment events
  services/notification/notification/consumer.py
  services/notification/notification/main.py
  services/notification/tests/test_consumer.py
Due: notification

feat: add notification query endpoints
  services/notification/notification/api/notifications.py
  services/notification/notification/consumer.py
  services/notification/notification/main.py
  services/notification/tests/test_api.py
Due: notification

build: pass prefixed environment variables to the notification service
  docker-compose.yml
Due: none

feat: add shared redis cache helper
  shared/libs/go/cache/cache.go
  shared/libs/go/cache/cache_test.go
  shared/libs/go/go.mod
  shared/libs/go/go.sum
Due: shared-libs

feat: connect the inventory service to redis
  services/inventory/cmd/server/main.go
  services/inventory/go.mod
  services/inventory/go.sum
  services/inventory/internal/config/config.go
  services/inventory/internal/config/config_test.go
  services/inventory/internal/server/server.go
  services/inventory/internal/server/server_test.go
Due: inventory

feat: cache product reads in the inventory service
  services/inventory/internal/server/server.go
  services/inventory/internal/service/product.go
  services/inventory/internal/service/product_test.go
Due: inventory

feat: invalidate the product cache from inventory events
  services/inventory/cmd/server/main.go
  services/inventory/internal/consumer/cache.go
  services/inventory/internal/consumer/cache_test.go
Due: inventory

feat: cache order reads in the order service
  services/order/cmd/server/main.go
  services/order/internal/consumer/cache.go
  services/order/internal/consumer/cache_test.go
  services/order/internal/server/server.go
  services/order/internal/service/order.go
  services/order/internal/service/order_test.go
Due: order

feat: add cache hit and miss metrics
  shared/libs/go/cache/metrics.go
  shared/libs/go/cache/metrics_test.go
Due: shared-libs

feat: add circuit breaker to the shared libraries
  shared/libs/go/go.mod
  shared/libs/go/go.sum
  shared/libs/go/resilience/breaker.go
  shared/libs/go/resilience/breaker_test.go
Due: shared-libs

feat: add retry with backoff to the shared libraries
  shared/libs/go/resilience/retry.go
  shared/libs/go/resilience/retry_test.go
Due: shared-libs

feat: guard gateway proxy calls with a circuit breaker
  services/api-gateway/go.mod
  services/api-gateway/go.sum
  services/api-gateway/internal/config/config.go
  services/api-gateway/internal/config/config_test.go
  services/api-gateway/internal/handler/middleware.go
  services/api-gateway/internal/handler/middleware_test.go
  services/api-gateway/internal/handler/router.go
  services/api-gateway/internal/handler/router_test.go
Due: api-gateway

feat: guard the inventory and payment clients with a circuit breaker
  services/order/go.mod
  services/order/go.sum
  services/order/internal/client/inventory.go
  services/order/internal/client/inventory_test.go
  services/order/internal/client/payment.go
  services/order/internal/client/payment_test.go
Due: order

feat: fall back to cached products when the database is unavailable
  services/inventory/go.mod
  services/inventory/internal/handler/products.go
  services/inventory/internal/handler/products_test.go
  services/inventory/internal/service/product.go
  services/inventory/internal/service/product_test.go
Due: inventory

feat: guard the payment gateway client with a circuit breaker
  services/payment/go.mod
  services/payment/go.sum
  services/payment/internal/gateway/client.go
  services/payment/internal/gateway/client_test.go
Due: payment

build: enable the otlp endpoint on jaeger
  .env.example
  docker-compose.yml
Due: none

feat: add opentelemetry setup to the shared libraries
  shared/libs/go/go.mod
  shared/libs/go/go.sum
  shared/libs/go/tracing/tracing.go
  shared/libs/go/tracing/tracing_test.go
Due: shared-libs

feat: propagate trace context through kafka headers
  shared/libs/go/events/kafka.go
  shared/libs/go/events/kafka_test.go
  shared/libs/go/events/tracing.go
  shared/libs/go/events/tracing_test.go
Due: shared-libs
